---
layout: default
---

<div class="ui divided items">
{% for post in site.posts %}
  <div class="item">
    <div class="content">
      <a class="header" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      <div class="meta">
        <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
      </div>
      <div class="description">
       {{ post.excerpt }} 
      </div>
      {% if post.tags %}
      <div class="extra">
        {% for tag in post.tags %}<div class="ui label">{{tag}}</div>{% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
{% endfor %}
</div>

{% include pagination.html %}