<footer class="ui inverted vertical footer segment">
  <div class="container">
    <div class="ui stackable inverted divided page grid">
      <div class="twelve wide column">
          <div class="ui inverted link list">
          <li>&copy; {{ site.description }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          </div>
      </div>
      <div class="four wide column">
        <h5 class="ui inverted header">Elsewhere</h5>
        <div class="ui inverted link list">
        {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <i class="inverted icon github"></i>
              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="inverted blue icon twitter"></i>
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/lightbox.min.js" | prepend: site.baseurl }}"></script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-4822430094066305",
    enable_page_level_ads: true
  });
</script>
