<div class="ui fixed inverted menu">
    <div class="ui container">
      <div href="#" class="header item">
        <img class="logo" src="/images/{{ site.logo }}.png">
        {{ site.title }}
      </div>
      <a href="{{ site.baseurl }}/" class="item">Home</a>
      <div class="right menu">
      <div class="mobile item ui dropdown">
        <i class="content icon"></i>
        <div class="menu">
          {% for page in site.pages %}
          {% if page.title %}
          <a class="item" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="item">
          <i class="rss icon"></i> RSS
        </a>
        </div>
      </div>
        {% for page in site.pages %}
          {% if page.title %}
          <a class="item" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="item">
          <i class="rss icon"></i> RSS
        </a>
      </div>
    </div>
  </div>