<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <!-- Site Properities -->
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <!-- Open Graph -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" /> 
　<meta property="og:type" content="{% if page.layout %}{{ page.layout }}{% else %}article{% endif %}"/> 
　<meta property="og:url" content="{% if page.url %}{{ page.url | prepend: site.baseurl }}{% else %}{{ site.url }}{% endif %}" /> 
　<meta property="og:image" content="{% if page.image %}{{ page.image | prepend: site.imageurl }}{% else %}{{ site.logo | prepend: site.imageurl }}{% endif %}" /> 
　<meta property="og:site_name" content="{{ site.title }}" /> 
　<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
　
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <link rel="apple-touch-icon-precomposed" href="/images/screen_icon.png" />

  <link  rel="stylesheet" type="text/css"  href="{{ "/css/semantic.min.css" | prepend: site.baseurl }}">
  <link  rel="stylesheet" type="text/css"  href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link  rel="stylesheet" type="text/css"  href="{{ "/css/lightbox.min.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/semantic.min.js" | prepend: site.baseurl }}"></script>

</head>
