<div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="{{ site.baseurl }}/" class="header item">
        <img class="logo" src="{{ site.logo | prepend: site.imageurl }}">
        {{ site.title }}
      </a>
      <!-- <a href="{{ site.baseurl }}/" class="item">Home</a> -->
      <div class="right menu">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="item" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="item">
          <i class="rss icon"></i> RSS
        </a>
      </div>
      <div class="mobile right floated ui dropdown icon item">
        <i class="content icon"></i>
        <div class="menu">
          {% for page in site.pages %}
          {% if page.title %}
          <a class="item" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="item">
          <i class="rss icon"></i> RSS
        </a>
        </div>
      </div>
    </div>
  </div>
