---
layout: page
title: Portfolio
permalink: /portfolio/
---

<div class="portfolio-container">
  <p class="portfolio-subtitle">Here are websites I have created.</p>
  <div class="portfolio-grid">
    {% for website in site.websites | sort_by: 'date' | reverse %}
      <a href="{{ website.link }}" target="_blank" rel="noopener noreferrer" class="portfolio-link">
        <div class="portfolio-item">
          <div class="portfolio-image-container">
            <img src="{{ site.imageurl }}{{ website.cover | prepend: '/websites/' }}" alt="{{ website.title }}" class="portfolio-image">
          </div>
          <div class="portfolio-content">
            <h2 class="portfolio-name">{{ website.title }}</h2>
            <div class="portfolio-description">{{ website.content }}</div>
            <div class="portfolio-tags">
              {% for tag in website.tags %}
                <span class="portfolio-tag">{{ tag }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>