---
layout: default
title: Portfolio
permalink: /portfolio/
---

<div class="portfolio-container">
  <h1 class="portfolio-title">Portfolio</h1>
  <p class="portfolio-description">Here are some of the websites I have developed as a frontend engineer. Each project showcases my skills in design and development.</p>
  
  <div class="portfolio-grid">
    {% for website in site.websites %}
      <a href="{{ website.url }}" target="_blank" rel="noopener noreferrer" class="portfolio-link">
        <div class="portfolio-item">
          <div class="portfolio-image-container">
            <img src="{{ site.imageurl }}{{ website.cover }}" alt="{{ website.title }}" class="portfolio-image">
          </div>
          <div class="portfolio-content">
            <h2 class="portfolio-name">{{ website.title }}</h2>
            <p class="portfolio-description">{{ website.content }}</p>
            <div class="portfolio-tags">
              {% for tag in website.tags %}
                <span class="portfolio-tag">{{ tag }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>