---
layout: default
---


  	<h1 class="ui header">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
  	<span class="date">{{ page.date | date: "%b %-d, %Y" }}</span>
	  	<p><a href="{{ page.image | prepend: site.imageurl }}" data-lightbox="page.title" data-title="page.image">
	  		<img class="ui fluid image" src="{{ page.image | prepend: site.imageurl }}" alt="page.image">
	  	</a></p>

    	{{ content }}

	<h4 class="ui horizontal divider header">Do Not Remain Silent</h4>

    <a href="#top"><p style="text-align: right;"><i class="arrow up icon"></i>Back To Top</p></a>




